.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: baseline;
    width: 80%;
    height: 92%;
    z-index: 100;
}

.timer-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.modal{
    position: absolute;
    top: 15%;
    right: 10%;
    z-index: 101;
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid var(--dark-ciano);
}

.count-down{
    height: 35%;
    margin: 20px;
    display: flex;
    align-items:start;
}
.count-down p{
    font-size: 128px;
    margin: 0;
}
#start-button{
    width: 150px;
    font-size: 32px;
    background-color: red;
    color: white;
    border: none;
}
/* stile pulsante di refresh */
.base-button-icon {
    background: none; 
    border: none;
    color: black; 
    margin-right: 10px;
}
.auto-start-off{
    background-color: black;
    color: white;
    width: 150px;
    height: 30px;
}
.auto-start-on{
    background-color: red;
    color: black;
    width: 150px;
    height: 30px;
}
/* form style */
.form-input{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-input button{
    width: 150px;
    height: 30px;
    margin: 20px;
}
.form-input label{
    margin: 10px;
}
.input-style{
    display: flex;
    flex-direction: column;
}

.count-flow{
    text-align: center;
}