.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: baseline;
    background-color: gray;
    width: 80%;
    height: 80%;
}

.count-down{
    font-size: 128px;
}

#start-button{
    width: 150px;
    font-size: 32px;
    background-color: red;
    color: white;
    border: none;

}
