.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    vertical-align: baseline;
    width: 90%;
    height: 90%;
    z-index: 100;
}

.timer-center{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.time-count-down{
    width: 45%;
}
.modal-space{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-end{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
}
.timer-end .modal-card-dim{
    width: 50%;
    height: 100%;
}
.count-down{
    height: 35%;
    margin: 20px;
    display: flex;
    align-items:start;
}
.end-modal{
    width: 100%;
    height: 100%;
    background-color: red;
}

/* stile controlli */
.start-stop-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.timer-controls{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.count-flow{
    text-align: center;
}

/*SMARTPHONE VIEW*/
@media only screen and (max-width: 1000px) {
    .modal-space-none{
       display: none;
    }
    .modal-space{
        width: 100%;
    }
    .hide-timer{
        display: none;
    }
    .show-timer{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .time-count-down{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .timer-end .modal-card-dim{
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {

}
