.radio-inputs {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-sizing: border-box;
}

.radio-inputs .radio input {
    display: none;
}

.radio-inputs .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 1.5px solid var(--black-ciano);
    transition: all .15s ease-in-out;
}

.radio{
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 4px 16px 4px 16px;
    margin: 4px;
}

.bg-pomodoro{
    background-color: var(--opacity-ciano);
    border: 1.5px solid var(--dark-ciano);
}

.bg-flowmodoro{
    background-color: var(--ligth-green);
    border: 1.5px solid var(--dark-gre);
}

.bg-pomodoro-active{
    background-color: var(--ciano);
    border: 1.5px solid var(--dark-ciano);
}

.bg-flowmodoro-active{
    background-color: var(--green);
    border: 1.5px solid var(--dark-green);
}