.box-text-container{
    width: 80%;
    height: 50%;
    display: flex; flex-direction: column; justify-content: center; align-items: start;
}
.titolo-font{
    font-size: 28px;
}

.font-corpo2{
    font-weight: bold;
    font-size: 18px;
}
.marker-title{
    background-color: var(--ligth-ciano);
    padding: 0 16px 0 16px;
    border-radius: 20px;
}
.marker-pink{
    background-color: var(--ligth-pink);
}
.marker-green{
    background-color: var(--ligth-green);
}
.marker-pink::before , .marker-green::before {
    content: '';
    position: absolute;
    background-color: var(--ligth-ciano); 
    rotate: -15deg;
}

@media only screen and (max-width: 400px) {
    .box-text-container{
        text-align: center;
        display: block;
    }
    .sub-title{
        display: none;
    }
    
}