.title{
    z-index: 100;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    padding: 8px;
}

/*SMARTPHONE VIEW*/
@media only screen and (max-width: 600px) {


}

@media only screen and (min-width: 600px) {

}
