.title{
    z-index: 100;
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
    vertical-align: center;
    padding: 8px;
}
.logo {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}