#home-container{
    height: 80%;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
}
.home-left , .home-rigth{
    display: flex; justify-content: center; align-items: center;
    flex-basis: 40%;
    flex-grow: 1; 
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}
.home-left{
    text-align: center;
}
.home-rigth{
    align-items: center;
}