.modal-card-dim{
    width: 60%;
    height: 80%;
}

.modal-card-setting{
    justify-content: center;
}

/*SETTINGS*/
.setting-list{
    display: flex;
    flex-direction: column;
    width: 90%;
    overflow-y: auto;
    overflow-x:  hidden;
}
.list-component{
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*TASK*/
.task-list-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.tasks{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin: 8px 0 8px 0;
}
.task-icon-content{
    display: flex;
    align-items: center;
}
.task-content{
    width: 80%;
    padding: 8px;
}
.button-only-icon{
    all: unset;
    width: 10%;
    display: flex;
    justify-content: center;
}


/*TIME GOAL*/
.time-goal-content{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.number-size{
    font-size: 24px;
}
.timeg-number{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-container {
    width: 80%;
    background-color: var(--green);  
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto; 
}

.progress-bar {
    height: 10px;  
    background-color: var(--ciano); 
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

/*END MODAL*/
.bg-end-request{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 105;
    background-color: rgba(0,0,0,0.15);
}
.end-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    overflow-y: auto;
}
.end-card p{
    text-align: center;
}
.end-button{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}


/*SMARTPHONE VIEW*/
@media only screen and (max-width: 600px) {
    .modal-card-dim{
        width: 100%;
        height: 100%;
    }

}

@media only screen and (min-width: 600px) {

}