.card {
    width: 300px;
    max-height: 80%;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    gap: 13px;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
    overflow-y: auto;
}

/*SETTINGS*/
.setting-list{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.list-component{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/*TASK*/
.task{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0 0 8px 0 ;
}
.task-content{
    margin: 0 0 0 8px;
}
.task-content s{
    color: var(--dark-pink);
    font-size: 20px;
}
.container{
    width: 100%;
    height: 250px;
}
.time-goal-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number-size{
    font-size: 64px;
}
.timeg-number{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.progress-container {
    width: 80%;
    background-color: var(--green);  
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto; 
}

.progress-bar {
    height: 15px;  
    background-color: var(--ciano); 
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
