.tt-inputs {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 0.15rem;
    margin: 0 0 16px 0;
}

.tt-inputs .tt-radio input {
    display: none;
}

.tt-inputs .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    transition: all .15s ease-in-out;
}

.tt-radio{
    border-radius: 8px;
    padding: 8px 4px 8px 16px;
    margin: 4px;
}

.not-selected{
    color: var(--ligth-ciano);
}

.underline{
    text-decoration: underline;
    font-weight: 600;
    color: var(--dark-ciano);

    text-decoration-color:var(--dark-ciano);       /* Cambia il colore della linea */
    text-decoration-thickness: 1.5px;    /* Cambia lo spessore della linea */
}