.task-list-container{
    z-index: 100;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    max-width: 70%;
    min-width: 45%;
    text-align: center;
}

.subject{
    margin: 0;
    color: var(--ciano);
}


.task-creator{
    width: 100%;
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.creator{
    width: 90%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.task-input{
    border: none;
    box-shadow: none;
    height: 20px;
    vertical-align: center;
    width: 100%;
    margin-left: 4px;
    text-align: start;
}
.task-input:focus{
    border: none;
    outline: none;
}
.task-list{
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: left;
    align-items: center;
}
.task-empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-content{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/*TIME GOAL*/
.time-goal-set{
    justify-content: center;
    align-items: center;
}
.time-goal-buttons{
    width: 100%;
    display: flex;

    justify-content: space-evenly;
}
.default-button{
    width: 20%;
}


/*TIME GOAL BAR*/
.PB-range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: var(--ligth-green);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dark-green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PB-range-slider-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
}


/* MODE SELECTOR */
.mode-setting{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.radio-inputs{
    background-color: rgba(0,0,0,0);
}
.radio{
    width: 30%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}