.card-container{
    z-index: 100;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-dim{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border: 1.5px solid var(--dark-ciano);
}

/* COMMON */
.subject{
    margin: 8px;
    color: var(--ciano);

}

/* TASK CREATOR */
.task-creator-title{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.task-creator{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.creator{
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 8px 0;
}
.task-input{
    border: none;
    box-shadow: none;
    height: 20px;
    vertical-align: center;
    width: 100%;
    margin-left: 4px;
    text-align: start;
    font-size: 18px;
}
.task-input:focus{
    border: none;
    outline: none;
}
.task-list{
    width: 90%;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.task-empty{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

/*TIME GOAL*/
.time-goal-set{
    width: 100%;
    height: 40%;
    justify-content: center;
    align-items: center;
}
.time-goal-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*TIME GOAL BAR*/
.PB-range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: var(--ligth-green);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--dark-green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PB-range-slider-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
}
.number{
    font-size: 32px;
}


/* MODE SELECTOR */
.mode-setting{
    width: 80%;
    height: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.radio{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


/*SMARTPHONE VIEW*/
@media only screen and (max-width: 600px) {
    .card-dim{
        width: 80%;
        height: 90%;
    }
    .subject{
        display: none;
    }
    .task-input{
        margin-top: 4px;
        font-size: 16px;
        height: 40px;
    }
    .PB-range-slider{
        height: 30px;
    }
    .PB-range-slider::-webkit-slider-thumb {
        height: 35px;
        width: 35px;
    }
    .radio{
        width: 40%;
        height: 80%;
    }
}