.init-session-container{
    z-index: 100;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.is-left, .is-rigth {
    z-index: 100;
    flex-basis: 45%;
    flex-grow: 1; 
    height: 100%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    opacity: 1;
}
.is-left{
    display: flex; justify-content: center; align-items: center;
    text-align: left;
}
.is-rigth{
    display: flex; justify-content: center; align-items: center;
    text-align: right;
}

.is-controls{
    z-index: 100;
    width: 100%;
    height:12%;
    display: flex; justify-content: center; align-items: center;
}
.is-controls .default-button{
    width: 180px;
    height: 50px;
    margin: 8px;
}

@keyframes  is-anim-left {
    from {
        opacity: 0;
        transform: translate(-100px)
    }
    to {
        opacity: 1;
    }
}
@keyframes  is-anim-rigth {
    from {
        opacity: 0;
        transform: translate(100px)
    }
    to {
        opacity: 1;
    }
}
/* Componenti che creano gli obbiettivi */
.card-dim{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

/* TASK CREATOR */
.task-card{
    background-color: none;
    box-shadow: none;
    border: none;
    transition: justify-content ;
}
.creator{
    width: 90%;
    display: flex; justify-content: center; align-items: center;
    margin: 16px;
}
.creator input{
    width: 80%;
    border: 1px solid var(--dark-ciano);
    border-radius: 30px;
    padding: 12px;
    margin: 0 8px 0 8px;
    box-shadow: none;
    text-align: start;
    font-size: 18px;
}
.creator .circle-button img{
    rotate: 45deg;
}
.task-list{
    padding: 8px;
    width: 90%;
    height: 90%;
    overflow-y: auto;
    overflow-x: hidden;
}
.task-empty{
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-content{
    margin: 30px;
}

/*TIME GOAL*/
.time-goal-set{
    width: 500px;
    height: 40%;
    display: flex; justify-content: center; align-items: center;
}
.time-goal-buttons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/*TIME GOAL BAR*/
.PB-range-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 18px;
    border-radius: 10px;
    background: var(--ligth-green);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.PB-range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--dark-green);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.PB-range-slider-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
    border-radius: 6px;
}
.number{
    font-size: 32px;
}


/* MODE SELECTOR */
.mode-setting{
    width: 80%;
    height: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    box-shadow: none;
    border: none;
}
.radio-inputs .radio-mode-selector input {
    display: none;
}
.radio-mode-selector{
    border-radius: 50%;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
}
.radio-choice{
    height: 100%;
    display: flex; flex-direction: column; justify-content: space-evenly; align-items: center;
}


/*SMARTPHONE VIEW*/
@media only screen and (max-width: 1000px) {
    .card-dim{
        width: 80%;
        height: 90%;
    }
    .subject{
        display: none;
    }
    .task-input{
        margin-top: 4px;
        font-size: 16px;
        height: 40px;
    }
    .PB-range-slider{
        height: 20px;
    }
    .PB-range-slider::-webkit-slider-thumb {
        height: 35px;
        width: 35px;
    }
    .radio{
        width: 40%;
        height: 80%;
    }
    .init-session-container{
        flex-direction: column;
    }
    .is-rigth{
        width: 100%;
        height: 65%;
        text-align: center;
    }
    .is-left{
        width: 100%;
        height: 30%;
        text-align: center;
    }
    .card{
        background: none;
        border: none;
        box-shadow: none;
    }
    .card-dim{
        width: 100%;
    }
    .creator {
        width: 100%;
    }
    .task-list{
        width: 100%;
        padding: 0;
    }
    .creator input{
        height: 20px;
    }
    .time-goal-card{
        width: 100%;
    }
    .time-bar-mobile{
        width: 100%;
        display: flex; justify-content: space-evenly; align-items: center;
    }
    .time-goal-set{
        width: 100%;
    }
    .mode-setting , .radio-inputs{
        width: 100%;
        height: 80%;
        justify-content: center;
    }
    .radio-choice{
        margin: 8px;
    }
    .radio-mode-selector{
        width: auto;
        height: 50%;
        padding: 32px;
        border-radius: 50%;
    }
}
@media only screen and (max-width: 500px) {
    .radio-mode-selector{
        width: 90px;
        height: 90px;
        padding: 16px;
    }
}