.is-background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.background-blob {
    filter: blur(40px);
    position: absolute;
    border-radius: 100px;
    width: 45%;
    height: 50%;
}
.is-background-pink {
    background-color: var(--opacity-pink);
    top: -10%;
    left: -15%;
    transform: rotate(20deg);
}
.is-background-green {
    background-color: var(--opacity-green);
    top: 35%;
    left: 0;
    width: 20%;
}
.is-background-ciano {
    background-color: var(--opacity-ciano);
    top: 70%;
    left: -15%;
    transform: rotate(-20deg);
}