.is-background {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.background-blob {
    filter: blur(30px);
    position: absolute;
    border-radius: 100px;
    width: 45%;
    height: 50%;
    animation: bg-left-gradient-enter 3s ease forwards;
}
.is-background-pink {
    top: -10%;
    left: -15%;
    transform: rotate(20deg);
}
.is-background-green {
    top: 35%;
    left: 0;
    width: 20%;
}
.is-background-ciano {
    top: 70%;
    left: -15%;
    transform: rotate(-20deg);
}

@keyframes bg-left-gradient-enter {
    from {
        opacity: 0;
        transform: rotate(-90deg);
    }
    to {
        opacity: 1;
    }
}