.app{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    overflow: hidden;
}
.bg-moving-blur{
    background-color:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(80px);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.bg-color-pink{
    background-color: var(--ligth-pink);
}
.bg-color-ciano{
    background-color: var(--ligth-ciano);
}
.bg-color-green{
    background-color: var(--ligth-green);
}
.bg-moving-all{
    height: 40%;
    position: absolute;
    z-index: 0;
    transition: width 1s ease-in-out, opacity 2s ease-in-out;
}
.bg-moving-rigth{
    border-radius: 80px 0 0 80px;
    top: 15%;
    right: 0;
}
.bg-moving-left{
    border-radius: 0 80px 80px 0;
    top: 15%;
    left: 0;
}


/*SMARTPHONE VIEW*/
@media only screen and (max-width: 600px) {
    .bg-moving-left{
        border-radius: 10% 0 0 10%;
        right: 0%;
    }
    .app{
        overflow: hidden;
    }

}

@media only screen and (min-width: 600px) {

}