@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
  /*font family*/
  --number: 'Inter', sans-serif;
  --titolo: "Spectral", serif;
  --corpo: "Cabin", sans-serif;

  /*Color*/
  --ciano : rgba(30, 186, 192, 1);
  --dark-ciano :rgba(13, 83, 85, 1);
  --ligth-ciano : rgba(166, 236, 238, 1);

  --pink : rgba(219, 91, 169, 1);
  --dark-pink : rgba(122, 51, 94, 1);
  --ligth-pink : rgba(251,209,235);
  
  --green : rgba(100, 172, 82, 1);
  --dark-green : rgba(30, 52, 25, 1);
  --ligth-green : rgba(193,222,186);

  --opacity-ciano : rgba(166,236,238,0.4);
  --opacity-pink : rgba(251,209,235,0.4);
  --opacity-green : rgba(193,222,186,0.4);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
/* font style*/
@mixin font-number{
  font-family: var(--number);
  font-weight: bold;
  font-size: 128px;
}
@mixin font-number-sm{
  font-family: var(--number);
  font-weight: bold;
  font-size: 86px;
}
@mixin font-titolo2{
  font-family: var(--titolo);
  font-weight: bold;
  font-size: 2.8vh;
}
@mixin font-titolo3{
  font-family: var(--titolo);
  font-weight: bold;
  font-size: 24px;
}
@mixin font-corpo1{
  font-family: var(--corpo);
  font-weight:400;
  font-size: 2vh;
}
@mixin font-corpo2{
  font-family: var(--corpo);
  font-weight:400;
  font-size: 1.8;
}
@mixin font-sub-corpo{
  font-family: var(--corpo);
  font-weight: 600;
  font-size: 13px;
}

/* FONT */
.font-number{
  @include font-number();
}
.titolo-font{
  @include font-titolo2();
}
.titolo3-font{
  @include font-titolo3();
}
.font-corpo2{
  @include font-corpo2()
}
.default-font{
  @include font-corpo1();
}
.sub-font{
  @include font-sub-corpo();
}



/* box-shadow */
.box-shadow-button{
  box-shadow: 15px 25px 40px rgba(0, 0, 0, 0.05);
}
.box-shadow-button:hover{
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.10);
}


/*Button*/
.default-button{
  min-width: 150px;
  padding: 8px 16px 8px 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center ;
  color: white;
}
.default-button span{
  margin-left: 8px;

  @include font-corpo1()
}
.default-button img{
  width: 24px;
  height: 24px;
}
.circle-button{
  padding: 8px;
  border-radius: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center ;
  color: white;
  margin: 4px;
}
.circle-button img{
  height: 24px;
  width: 24px;
}
.primary-button{
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 45px;
  border-radius: 8px;
  display: flex;
  align-items: center ;
  justify-content: center;
  margin: 8px
}
.primary-button svg{
  margin-right: 8px;
}

/*background*/
.bg-start{
  //background-image: url('./assets/Background/bg-ligthC-PG.png');
  background-color: var(--ligth-ciano);
  border: 1.5px solid var(--dark-ciano);
  color: var(--dark-ciano);

  @include font-titolo3()
}
.bg-flowmodoro-start{
  background-color: var(--ligth-green);
  backdrop-filter: blur(100px);
  border: 1.5px solid var(--dark-green);
  color: var(--dark-green);

  @include font-titolo3()
}
.bg-stop{
  //background-image: url('./assets/Background/bg-ligthP-CG.jpg');
  background-color: var(--ligth-pink);
  border: 1.5px solid var(--dark-pink);
  color: var(--dark-pink);

  @include font-titolo3()
}



/*color*/
.bg-ciano{
  background-color: var(--ciano);
  border: 1.5px solid var(--dark-ciano);
  color: var(--dark-ciano);

  @include font-corpo1();
}
.bg-ciano:active{
  background-color: var(--ligth-ciano);
}
.bg-ligth-ciano{
  background-color: var(--ligth-ciano);
  border: 1.5px solid var(--dark-ciano);
  color: var(--dark-ciano);

  @include font-corpo1();
}
.bg-ligth-ciano:active{
  background-color: var(--ciano);
}
.bg-pink {
  background-color: var(--pink);
  border: 1.5px solid var(--dark-pink);
  color: var(--dark-pink);

  @include font-corpo1();
}
.bg-pink:active{
  background-color: var(--litgth-pink);
}
.bg-ligth-pink {
  background-color: var(--ligth-pink);
  border: 1.5px solid var(--dark-pink);
  color: var(--dark-pink);

  @include font-corpo1();
}
.bg-pink:active{
  background-color: var(--pink);
}
.bg-green{
  background-color: var(--green);
  border: 1.5px solid var(--dark-green);
  color: var(--dark-green);

  @include font-corpo1();
}
.bg-green:active{
  background-color: var(--ligth-green);
}
.bg-ligth-green{
  background-color: var(--ligth-green);
  border: 1.5px solid var(--dark-green);
  color: var(--dark-green);

  @include font-corpo1();
}
.bg-ligth-green:active{
  background-color: var(--green);
}

.bg-opacity-ciano{
  background-color: var(--opacity-ciano);
  color: var(--dark-green);

  @include font-corpo1();
}
.bg-opacity-pink{
  background-color: var(--opacity-pink);
  color: var(--dark-pink);
  border: 1.5px solid var(--ligth-pink);

  @include font-corpo1();
}
.bg-opacity-green{
  background-color: var(--opacity-green);
  color: var(--dark-green);

  @include font-corpo1();
}
.bg-none{
  border: none;
  background-color: rgba(0,0,0,0);
  stroke-width: 4px;
  color: var(--dark-ciano );
}

.bg-gray{
  border: none;
  background-color: lightgray;
  color: var(--dark-ciano);

  @include font-corpo1();
}

/*font color*/
.color-ligth-pink{
  color: var(--ligth-pink) ;
}
.color-ligth-ciano{
  color: var(--ligth-ciano);
}
.color-ligth-green{
  color: var(--ligth-green);
}
.color-dark-pink{
  color: var(--dark-pink) ;
}
.color-dark-ciano{
  color: var(--dark-ciano) ;
}
.color-dark-green{
  color: var(--dark-green) ;
}
.color-pink{
  color: var(--pink) ;
}
.color-ciano{
  color: var(--ciano) ;
}
.color-green{
  color: var(--green) ;
}
.color-white{
  color: white;
}
.color-gray{
  color: gray;
}

/* MODAL */
.card {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px 30px;
  gap: 13px;
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.062);
  animation-duration: 0.2s;
  animation-name: card-opacity;
  animation-direction: alternate;
}

@keyframes card-opacity {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.task-input::placeholder {
  color: var(--ligth-ciano);

  @include font-corpo2();
}

/*SMARTPHONE VIEW*/
@media only screen and (max-width: 600px) {

  .font-number{
    @include font-number-sm();
  }

}

@media only screen and (min-width: 600px) {

}